<article class="pic-snap-card" [ngClass]="{liked: hasLiked}">
    <h2>{{picSnap.title | titlecase }}</h2>
    <img [src]="picSnap.imageUrl" [alt]="title">
    <p>{{picSnap.description}}</p>
    <p>PicSnap créé le {{picSnap.createdAt | date:"d MMMM YYYY"}}</p>
    @if (picSnap.location) {
    <p>Localisation: {{picSnap.location}}</p>
    }
    <div class="likes-container">
        <button type="button" (click)="onLike()">{{likeButtonText}}</button>
        <p>❤️ <span [ngStyle]="{color: 'rgb(0, '+ picSnap.likes +', 0)'}">{{picSnap.likes}}</span></p>
    </div>
</article>